{erl_opts, [debug_info]}.
{deps, [ {erlang_subgraph_compile, {git, "https://github.com/ferd/erl_subgraph_compile.git", {branch, "main"}}}
       , {jsx, "2.9.0"}
       ]}.

%% Cover Reports
{cover_enabled, true}.
{cover_export_enabled, true}.

%% Necessary to avoid breaking the STDIO-based client/server
%% communication during tests.
{ct_readable, false}.
