{erl_opts, [debug_info]}.
{deps, [ {jsx, "2.9.0"} ]}.

{ct_readable, true}.

{plugins, [ rebar3_proper
          , coveralls
          ]}.

{profiles, [{test, [{deps, [proper, coveralls]}]}]}.

%% Cover Reports
{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, ["_build/test/cover/*.coverdata"]}.
{coveralls_service_name, "github"}.

{post_hooks, [{clean, "sh -xc \"cd $REBAR_ROOT_DIR/priv/sample && rm -rf _build .bsp\""}]}.

{edoc_opts, [{preprocess, true}]}.
